h1 h2 h3 h4 p span
{
	font-family: Helvetica, Arial, sans-serif;
}

h4
{
	font-size: 12px;
}

h3
{
	font-size: 16px;
}

span
{
	font-size: 16px;
}

body
{
	margin: 0px;
}

#header
{
	width: 100%;
	height: 36px;
	background-color: #333;
}

#header h1
{
	-webkit-margin-before: 0px;
	font-weight: normal;
	font-size: 30px;
	color: #cccccc;
	text-align: center;
	vertical-align: middle;
}

h1
{
	font-weight: normal;
}

#header h2
{
	font-weight: normal;
	-webkit-margin-before: .1em;
	color: #ccc;
	float: left;
	margin-left: 20px;
}

#topic
{
	text-align: center;
	color: #444;
}

.profile
{
	float: right;
	margin-right: 30px;
}

.profile p
{
	float: left;
	color: #ccc;
	-webkit-margin-before: .5em !important;
	-webkit-margin-after: 0em !important;
}

.down_arrow, .up_arrow, .inactive_up_arrow, .inactive_down_arrow
{
	width: 32px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.4;
}

.inactive_up_arrow, .inactive_down_arrow
{
	display: hidden;
}

.down_arrow
{
	background: url('/static/img/IKONS/PNG/32/arrow_down.png');
}

.up_arrow
{
	background: url('/static/img/IKONS/PNG/32/arrow_up.png');
}

.up_arrow:hover, .down_arrow:hover
{
	opacity: 0.8;
	cursor: pointer;
}

.profile:hover
{
	cursor: pointer;
}

#floater
{
	height: 36px;
}

body h2
{
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}

#pro_label
{
	color: #336699;
	text-align: center;
}

#con_label
{
	color: #9A4444;
	text-align: center;
}

#divider
{
	width: 1px;
	height: 100%;
	background-color: #777777;
	margin-right: auto;
	margin-left: auto;
}

.side
{
	width: 450px;
}

#body
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#pro
{
	float: left;
}

#con
{
	float: left;
}

.navigation
{
	height: 500px;
	width: 332px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

#con_sidebar
{
	float: right;
}

.arrow, .inactive_arrow
{
	height: 32px;
	width: 32px;
	margin-left: auto;
	margin-right: auto;
}

.inactive_arrow
{
	visibility: hidden;
}

.arrow:hover
{
	cursor: pointer;
}

.inactive_arrow:hover
{
	cursor: auto;
}

#pro_up_arrow
{	
	background: url('IKONS/PNG/32/arrow_up.png');
	opacity: 0.4;
}

#inactive_pro_up_arrow
{
	background: url('pro_up_arrow.png');
	opacity: 0;
}

#pro_down_arrow
{
	background: url('IKONS/PNG/32/arrow_down.png');
	bottom: 0;
	opacity: 0.4;
}

#inactive_pro_down_arrow
{
	background: url('pro_down_arrow.png');
	bottom: 0;
	opacity: 0;
}

#pro_down_arrow, #inactive_pro_down_arrow, #con_down_arrow, #inactive_con_down_arrow
{
	margin-top: 12px;
}

#con_up_arrow
{
	background: url('con_up_arrow.png');
	opacity: 0.4;
}

#inactive_con_up_arrow
{
	background: url('con_up_arrow.png');
	opacity: 0;
}

#con_down_arrow
{
	background: url('con_down_arrow.png');
	bottom: 0;
	opacity: 0.4;
}

#inactive_con_down_arrow
{
	background: url('con_down_arrow.png');
	bottom: 0;
	opacity: 0;
	float: left;
}

#pro_up_arrow:hover, #pro_down_arrow:hover, #con_up_arrow:hover, #con_down_arrow:hover
{
	opacity: 0.8;
}

#pro iframe
{
	float: left;
	margin-left: 42px;
}

#con iframe
{
	float: left;
	margin-right: 42px;
}

.info
{
	width: 483px;
	border: 1px solid #dddddd;
	float: left;
	margin-left: 42px;
	padding: 10px;
}

#con .info
{
	margin-left: 52px;
}

#upload_button
{
	float: left;
	margin-top: 280px;
}

#upload_button:hover
{
	cursor: pointer;
}

.info div, span
{
	margin-left: 10px;
}

.title h3
{
	font-size: 20px;
	font-weight: normal;
}

.user
{
	border-right: 1px solid #666;
	padding-right: 10px;
	float: left;
}

.user a
{
	color: #333333;
	text-decoration: none;
}

.user a:hover
{
	text-decoration: underline;
}

.user_info
{
	float: left;
	position: relative;
	top: 3px;
}

.user_info p
{
	color: #aaaaaa;
	font-size: 14px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.vote
{
	float: right;
	width: 100px;
	position: relative;
	top: -10px;
}

.vote span
{
	color: #333333;
	margin: 0px;
}

.vote_icon
{
	position: relative;
	top: 6px;
}

.vote_icon img
{	
	width: 25px;
}

.vote_count
{
	position: relative;
	left: 30px;
}

.vote_count p
{
	color: #aaa;
	font-size: 14px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

#video_container
{
	position: absolute;
	left: 50%;
	visibility: hidden;
}

#video
{
	width: 892px;
	height: 430px;
	position: relative;
	background-color: LightCoral;
	left: -50%;
	opacity: 0;
	visibility: hidden;
}

#close_video
{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	height: 20px;
	width: 20px;
	margin-bottom: 10px;
	left: -50%;
}

#close_video:hover
{
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

#close_video p
{
	color: white;
	-webkit-margin-before: 0.12em;
	-webkit-margin-after: 0;
	opacity: 1;
	text-align: center;
}

#title h3
{
	font: 20px normal Helvetica;
	color: White;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}

#player
{
	width: 592px;
	height: 333px;
	float: left;
}

#user
{
	font: 12px normal Helvetica, Arial;
	color: white;
}

#user a
{
	font: 12px normal Helvetica, Arial;
	color: white;
	text-decoration: none;
}

#user a:hover
{
	text-decoration: underline;
}

#description
{
	width: 450px;
	margin-left: 25px;
	float: left;
}

#upvote_button
{
	float: left;
	margin-top: 25px;
	margin-left: 15px;
}

#upvote_button:hover
{
	cursor: pointer;
}

.inactive_thumbnail
{
	width: 150px;
	margin-bottom: 8px;
	margin-top: 8px;
}

.thumbnail_cover p
{
	margin-right: 5px;
	margin-left: 5px;
	font: 12px normal Helvetica;
	color: #ddd;
}
#comments_pane
{
	width: 260px;
	height: 391px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	overflow-y: scroll;
}

#comments_pane p
{
	color: #FAFAFA;
	font-size: 14px;
	float: left;
	-webkit-margin-before: 0;
}

#left
{
	float: left;
	width: 592px !important;
}

#comments_pane textarea
{
	width: 260px;
}

#comments
{
	width: 260px;
	float: right;
}

#post_button
{
	height: 24px !important;
	width: 30px !important;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	font-size: 12px;
	line-height: 24px;
}

#post_button:hover
{
	cursor: pointer;
}

#comments_pane .profile_pic
{
	width: 50px;
	height: 50px;
	float: left;
}

.comment
{
	width: 260px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment .text
{
	width: 190px;
	float: left;
	padding: 0px 10px 0px 10px;
}

#bottom
{
	height: 95px;
	width: 590px;
	float: left;
}

#upload_container
{
	position: absolute;
	left: 50%;
	visibility: hidden;
}

#upload
{
	width: 600px;
	height: 430px;
	position: relative;
	background-color: white;
	border: 1px solid #aaa;
	left: -50%;
	opacity: 0;
	visibility: hidden;
	padding: 20px;
}

#upload h2
{
	color: #ccc;
	text-align: left;
	-webkit-margin-before: 0.4em;
	-webkit-margin-after: 0.4em;
}

#upload_controls span
{
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

#pro_choice
{
	color: LightBlue;
}
#con_choice
{
	color: LightCoral;
}

#position_choice input
{
	top: -3px;
	position: relative;
}

#position_choice input:hover
{
	cursor: pointer;
}

.close
{
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	color: white;
}

.close:hover
{
	cursor: pointer;
	color: #eee;
}

#choice_button
{
	float: left;
}

#choice_button:hover
{
	cursor: pointer;
}

.inactive_thumbnail_cover
{
	display: none;
}

body
{
	overflow-x: hidden;
}

.top_rated, .most_recent
{
	color: #368bd0;
}

.video_selector
{
	width: 200px;
	margin-left: 132px;
}

[data-state='inactive']
{
	color: #333;
}

[data-state='active']:hover
{
	color: #337799;
	cursor: pointer;
}

/* THUMBNAIL STYLING */

.thumbnail
{
	float: left;
	width: 196px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	white-space: nowrap;
}

.video_pic
{
	float: left;
}

.video_pic img
{
	width: 180px;
}

.video_title
{
	float: left;
	width: 180px;
	overflow: hidden;
	margin-left: 8px;
	text-overflow: ellipsis;
}

.video_title h3
{
	color: #368bd0;
	font-weight: normal;
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video_info
{
	float: left;
	width: 180px;
	margin-left: 8px;
}

.video_info span
{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	font-size: 13px;
	color: #3f3f3f;
	margin-left: 0px;
	margin-right: 10px;
}

.video_info p
{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.video_info .upvotes
{
	color: #33CC33;
}

.views_date
{
	font-size: 11px !important;
	color: #9a9a9a !important;
}

.video_pic:hover
{
	cursor: pointer;
}

.video_title:hover h3
{
	color: #337799;
	cursor: pointer;
}

.name:hover
{
	cursor: pointer;
	text-decoration: underline;
}

/* VIDEO LIST */

.video_list_container
{
	overflow-y: hidden;
	height: 394px;
	width: 432px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
}

.video_list_container img
{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}

.inactive_video_list_container
{
	display: none;
}

/* UPLOAD POP-UP */

#upload_player_container
{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#position_choice
{
	float: left;
}

#upload_title_container
{
	float: right;
	top: -5px;
	position: relative;
}

#upload_title_container input
{
	font-size: 18px;
	width: 300px;
	margin-left: 10px;
}

#upload_title_container span
{
	color: #444;
}

#upload h2
{
	color: #888;
	text-align: center;
}

#upload_controls
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#widget
{
	margin-top: 10px;
}

.video_list_container_inner
{
	position: relative;
	overflow: auto;
}

#show_more
{
	margin-top: 50px;
	margin-left: 50px;
}

#show_more:hover
{
	cursor: pointer;
}
