body
{
	margin: 0px;
}

#body
{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

#info
{
	height: 162px;
}

#profile_pic
{
	height: 160px;
	width: 160px;
	background: url('/static/img/rodney_maxwell_pic.jpg');
	float: left;
}

h1 h2 h3 h4 p
{
	font-family: Helvetica,Arial,sans-serif;;
}

h4
{
	color: #333;
	font-size: 16px;
	-webkit-margin-before: 1em !important;
	-webkit-margin-after: 1em !important;
}

#profile_pic h1
{
	color: #aaaaaa;
	font-family: Arial;
	font-weight: Normal;
	text-align: center;
	padding: 10px;
}

#personal_info
{
	margin-left: 15px;
	float: left;
}

p
{
	color: #333;
	-webkit-margin-before: 0 !important;
	-webkit-margin-after: 0 !important;
}

#navigation
{
	margin-top: 20px;
	border-top: 1px solid #aaaaaa;
	height: 34px;
}

span
{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

span p
{
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}

.label
{
	background-color: #777777;
	padding: 5px;
}

.label p
{
	color: white;
}

.button
{
	color: #555555;
	padding: 5px;
}

.button:hover, .label:hover
{
	cursor: pointer;
	background-color: LightGreen;
}

.button:hover p, .label:hover p
{
	color: white;
}

.panel, .hidden_panel
{
	margin-top: 10px;
	width: 900px;
}

.hidden_panel
{
	visibility: hidden;
	height: 0px;
	margin-top: 0px;
}

.status_update
{
	height: 150px;
	width: 800px;
	box-shadow: 5px 5px 5px #888888;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #888888;
}

.status_update img
{
	margin-top: 25px;
	margin-left: 25px;
	float: left;
}

.status
{
	float: left;
	margin-left: 20px;
	height: 100px;
	width: 600px;
	margin-top: 25px;
	overflow: hidden;
}

.status p
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ellipsis
{
	margin-top: 120px;
	float: right;
	margin-right: 20px;
	padding: 0px 8px 6px 8px;
	background-color: #ccc;
	border-radius: 12px;
}

.ellipsis p
{
	font-weight: bold;
	size: 10px;
	color: #888;
	letter-spacing: 2px;
}

.ellipsis:hover
{
	background-color: #888;
	cursor: pointer;
}

.ellipsis:hover p
{
	color: #ccc;
}

#recent_activity a
{
	color: #0084B4;
}

#recent_activity a:hover
{
	cursor: pointer;
	text-decoration: underline;
}

#header
{
	width: 100%;
	height: 36px;
	background-color: #333;
	position: fixed;
}

#header h2
{
	-webkit-margin-before: .1em;
	float: left;
	color: #cccccc;
	margin-left: 20px;
	font-weight: normal;
}

.profile
{
	float: right;
	margin-right: 30px;
}

.profile p
{
	float: left;
	color: #ccc;
	-webkit-margin-before: .5em !important;
}

.down_arrow
{
	float:left;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ccc;
	padding: 0px;
	margin-top: 15px;
	margin-left: 5px;
}

.profile:hover
{
	cursor: pointer;
}

#floater
{
	height: 60px;
}
