<html>
	<head>
		<title>Soapbox</title>
		<link rel='stylesheet' type='text/css' href="/static/css/index.css"/>
			<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type='text/javascript' src='/static/js/index.js'></script>
	</head>
	<body>
		<div id='header'>
			<a href='http://127.0.0.1:8000/home/'>
				<h2>Soapbox</h2>
			</a>
			<div class='profile'>
				<p>Cole Zuber</p>
				<span class='down_arrow'></span>
			</div>
		</div>
		<div id='floater'></div>
		<div id='main'>
			<h3 id='welcome'>
				Today's Topic:
			</h3>

			<div id='todays_topic'>
				<div class='topic'>
					<div class='date'>
						<h3>{{ todays_topic.post_date.date }}</h3>
					</div>
					{% if topics.0.pros > topics.0.cons %}
					<a id='pro_topic' class='topic_name' href='http://127.0.0.1:8000/video-page/{{ todays_topic.id }}'>
						<h2 class='topic_name'>{{ todays_topic }}</h2>
					</a>
					{% else %}
					<a id='con_topic' class='topic_name' href='http://127.0.0.1:8000/video-page/{{ todays_topic.id }}'>
						<h2 class='topic_name'>{{ todays_topic }}</h2>
					</a>
					{% endif %}
					<div class='stats'>
						<span class='num_pros'>Pros: </span>
						<span class='num'>{{ todays_topic.pros }}</span>
						<span class='num_cons'>Cons: </span>
						<span class='num'>{{ todays_topic.cons }}</span>
					</div>
					<div class='top_videos'>
						<div class='top_pro'>
						<div class='top_pro_video'>
							<h3>Top Pro</h3>
							<iframe width="370" height="208" src="//www.youtube.com/embed/{{pro_video.video_id}}" frameborder="0" allowfullscreen></iframe>
						</div>
						</div>
						<div class='top_con_video'>
							<h3>Top Con</h3>
							<iframe width="370" height="208" src="//www.youtube.com/embed/{{con_video.video_id}}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class='expand_button'>
						<span>Expand</span>
					</div>
				</div>
			</div>

			<div id='display'>
				<!-- The List of topics -->
				<div id='topics' class='panel'>
					<ul>
					{% for topic in prev_topics %}
						<li>
							{% if topic.pros > topic.cons %}
							<div data-position='pro' class='topic'>
							{% else %}
							<div data-position='con' class='topic'>
							{% endif %}
								<div class='date'>
									<h3>{{ topic.post_date.date }}</h3>
								</div>
								{% if topic.pros > topic.cons %}
								<a id='pro_topic' class='topic_name' href='http://127.0.0.1:8000/video-page/{{ topic.id }}'>
									<h2 class='topic_name'>{{ topic }}</h2>
								</a>
								{% else %}
								<a id='con_topic' class='topic_name' href='http://127.0.0.1:8000/video-page/{{ topic.id }}'>
									<h2 class='topic_name'>{{ topic }}</h2>
								</a>
								{% endif %}
								<div class='stats'>
									<span class='num_pros'>Pros: </span>
									<span class='num'>{{ topic.pros }}</span>
									<span class='num_cons'>Cons: </span>
									<span class='num'>{{ topic.cons }}</span>
								</div>
							</div>
							</li>
					{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</body>
</html>
